<body>
  <main>
    <!-- Nav bar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/logout">
          
            Logout
          </a>
          <a class="navbar-brand" href="/members">
          
            Main
          </a>
        </div>
      </div>
    </nav>

    <!-- Welcome message -->
    <section class="welcome-user-message">

      <h5>Welcome <span class="member-name"></span></h5>

    </section>

    <section class="wedding-table-content">

      <div class="wedding-container">
        <h1>Weddings</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <td>Couple</td>
              <td>Event Date</td>
              <td>Summary Page</td>
              <td>Add Vendor</td>
              <td>Delete</td>
            </tr>
          </thead>
          {{!-- from html-routes --}}
          {{#each event}}
          <tr>
            <td>{{dataValues.couple}}</td>
            <td>{{dataValues.eventDate}}</td>
            <td><a href="/summary/{{dataValues.id}}">Summary</a></td>
            <td><a href="/vendorInfos/{{dataValues.id}}">Add</a></td>
            <td><a style='cursor:pointer;color:red' data-Id="{{dataValues.id}}" class='delete-event'>Delete</a></td>
          </tr>
          {{/each}}
          <tbody>
            <tr id="form-row">
              <form id="wedding-form">
                <td colspan="4">
                <td><button type="button" class="btn btn-success" id="createWedding">Create Wedding</button>
                </td>
              </form>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/members.js"></script>
  </main>
</body>