<body>
  <main>
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-sm bg-light">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/members">
            Main
          </a>
          <a class="navbar-brand" href="/logout">
            Logout
          </a>
        </div>
      </div>
    </nav>

    <!-- Welcome message -->
    <section class="welcome-user-message">

      <h5>Welcome back, <span class="member-name"></span>!</h5>

    </section>

    <div class="card">

      <div class="wedding-container">
        <h1>Weddings</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <td>Couple</td>
              <td>Event Date</td>
              <td>Summary Page</td>
              <td>Add Vendor</td>
              <td>Delete</td>
            </tr>
          </thead>
          {{!-- from html-routes --}}
          {{#each event}}
          <tr>
            <td>{{dataValues.couple}}</td>
            <td>{{dataValues.eventDate}}</td>
            <td><a href="/summary/{{dataValues.id}}">Summary</a></td>
            <td><a href="/vendorInfos/{{dataValues.id}}">Add</a></td>
            {{!-- <td><a style='cursor:pointer;color:red' data-Id="{{dataValues.id}}" class='delete-event'>Delete</a></td> --}}
            <td><button type="button" class="btn btn-danger delete-event" data-Id="{{dataValues.id}}"><i class="far fa-trash-alt fa-1x"></i> Delete</button>

          </tr>
          {{/each}}
        </table>
        <button type="button" class="btn btn-success" id="createWedding">Add Wedding</button>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/members.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/CustomBounce3.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/CustomEase3.min.js"></script>
  </main>
</body>