<body>
  <main>

    <nav class="navbar navbar-expand-sm bg-light">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/members">
            Main
          </a>
          <a class="navbar-brand" href="/logout">
            Logout
          </a>
        </div>
      </div>
    </nav>

    {{!-- Event Info Table --}}
    <div class="card">
      <div class="card-header">
        <h3>Event Info</h3>
      </div>
      <div style="overflow-x:auto;">
        <table class="table table-striped">
            {{!-- Head --}}
            <thead>
              <tr>
                <th>Couple</th>
                <th>Venue</th>
                <th>Event Date</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            {{!-- Body --}}
            <tr class="eventInfoEdit">
              <td class="event-data"><textarea readonly>{{event.couple}}</textarea></td>
              <td class="event-data"><textarea readonly>{{event.venueName}}</textarea></td>
              <td class="event-data"><textarea readonly>{{event.eventDate}}</textarea></td>
            <td><button type="button" class="btn btn-success editEvent"><i class="far fa-edit fa-1x"></i>
                  Edit</button>
                <button type="button" class="btn btn-primary editEventSave"><i class="far fa-save fa-1x"></i>
                  Save</button>
                  <button type="button" class="btn btn-danger delete-event" data-Id="{{event.id}}"
                  onclick="deleteEvent({{event.id}})" href="/members"><i class="far fa-trash-alt fa-1x"></i>
                  Delete</button>
                  </td>
                {{!--
              <td><a style='cursor:pointer;color:red' data-Id="{{event.id}}" class='delete-event'
                  href="/members">Delete</a></td> --}}
          </tr>
        </table>
      </div>
    </div>

   
    {{!-- Vendor Info Card--}}
    <div class="card">
      <div class="card-header">
        <h3>Vendor Info</h3>
       </div>
      {{!-- <div style="overflow-x:auto;"></div> --}}
      <div style="overflow-x:auto;">
        <table class="table table-striped"></table>
        <table class="table table-striped">
          {{!-- Head --}}
          <thead>
            <tr>
              <th>Vendor Name</th>
              <th>Service</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          {{!-- Row populate --}}
          {{#each vendor}}
          <tr>
            <td id="vendor-data{{dataValues.id}}"><textarea readonly>{{dataValues.vendorName}}</textarea></td>
            <td id="vendor-data{{dataValues.id}}"><textarea readonly>{{dataValues.service}}</textarea></td>
            <td id="vendor-data{{dataValues.id}}"><textarea readonly>{{dataValues.email}}</textarea></td>
            <td id="vendor-data{{dataValues.id}}"><textarea readonly>{{dataValues.phone}}</textarea></td>
            <td><button type="button" class="btn btn-success editVendor" id="{{dataValues.id}}"><i
                  class="far fa-edit fa-1x"></i> Edit</button>
              <button type="button" class="btn btn-primary editVendorSave" id="{{dataValues.id}}"><i
                  class="far fa-save fa-1x"></i> Save</button>
            <td>
              {{!--
            <td><button style='cursor:pointer;color:red' data-id="{{dataValues.id}}" class='delete-vendor'
                onclick="deleteVendor({{dataValues.id}})">Delete</button></td> --}}
            <td><button type="button" class="btn btn-danger delete-vendor" data-Id="{{dataValues.id}}"
                onclick="deleteVendor({{dataValues.id}})"><i class="far fa-trash-alt fa-1x"></i> Delete</button>
            </td>
          </tr>
          {{/each}}
        </table>
        <a type="button" class="btn btn-success col-1" id="circleButton" href="/vendorInfos/{{event.id}}">Add Vendor</a>
      </div>
    </div>
    </div>

    {{!-- Scripts --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/summary.js"></script>
    <script type="text/javascript">
      // EDIT EVENT
      // When edit button toggle textarea readonly
      $('td').on('click', '.editEvent', function (event) {
        event.preventDefault();
        // Target all text areas and toggle readonly
        $("td.event-data").children("textarea").each(function () {
          var re = $(this).prop('readonly');
          $(this).prop('readonly', !re);
        });
      });

      // SAVE EVENT
      // Save button 
      $('td').on('click', '.editEventSave', function (event) {
        event.preventDefault();

        // This holds our event data
        var data = {};
        var counter = 0
        // Target all text areas and put data into array
        $("td.event-data").children("textarea").each(function () {
          // We create key value pairs for the data obj
          var key = "key" + counter;
          data[key] = $(this).val();
          counter++;
        });
        // Grab the id from the url
        var id = (window.location.href).slice(-1)
        $.ajax("/api/eventInfos/" + id, {
          type: "PUT",
          data: data
        }).then(function () {
          console.log("event edited");
        })
      });

      // DELETE VENDOR
      function deleteVendor(id) {
        console.log("this was deleted");
        console.log(id);
        $.ajax({
          method: "DELETE",
          url: "/api/vendorInfos/" + id
        }
        )
        location.reload();
      }

      // DELETE EVENT
      function deleteEvent(id) {
        console.log("this event was deleted");
        console.log(id);
        $.ajax({
          method: "DELETE",
          url: "/api/eventInfos/" + id
        }
        )
        window.location.href = "/members";
      }

      // EDIT VENDOR
      // When edit button toggle textarea readonly
      $('td').on('click', '.editVendor', function (event) {
        event.preventDefault();

        // Id of the row
        var idNum = $(this).attr("id");

        // Target all text areas and toggle readonly
        $(`*[id*=vendor-data${idNum}]`).children("textarea").each(function () {
          var re = $(this).prop('readonly');
          $(this).prop('readonly', !re);
        });
      });

      // SAVE Vendor
      // Save button 
      $('td').on('click', '.editVendorSave', function (event) {
        event.preventDefault();

        // Id of the row
        var idNum = $(this).attr("id");
        // This holds our event data
        var data = {};
        var counter = 0
        // Target all text areas and put data into array
        $(`*[id*=vendor-data${idNum}]`).children("textarea").each(function () {
          // We create key value pairs for the data obj
          var key = "key" + counter;
          data[key] = $(this).val();
          counter++;
        });
        $.ajax("/api/vendorInfos/" + idNum, {
          type: "PUT",
          data: data
        }).then(function () {
          console.log("vendor edited");
        })
      });
    </script>
</body>
</main>