<body>
  <main>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/members">
            Main
          </a>
          <a class="navbar-brand" href="/logout">
            Logout
          </a>
        </div>
      </div>
    </nav>

    {{!-- Event Info Table --}}
    <section>
      <div class="card-body">
        <h3 class="card-title">Event Info</h3>
        <table class="table table-striped">
          {{!-- Head --}}
          <thead>
            <tr>
              <th>Couple</th>
              <th>Venue</th>
              <th>Event Date</th>
              <th>Food Option One</th>
              <th>Food Option Two</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          {{!-- Body --}}
          <tr class="eventInfoEdit">
            <td class="event-data" readonly><textarea>{{event.couple}}</textarea></td>
            <td class="event-data" readonly><textarea>{{event.venueName}}</textarea></td>
            <td class="event-data" readonly><textarea>{{event.eventDate}}</textarea></td>
            <td class="event-data" readonly><textarea>{{event.foodOptionOne}}</textarea></td>
            <td class="event-data" readonly><textarea>{{event.foodOptionTwo}}</textarea></td>
            {{!-- <td><button class="editEvent" id="edit{{event.id}}"><i class="far fa-edit"></i>edit</button></td> --}}
            <td><a class="editEvent" data-control="userBtn">Edit</a><a class="editEventSave" style="color: blueviolet;"
                data-control="userBtnSave">Save</a></td>
            <td><a style='cursor:pointer;color:red' data-Id="{{event.id}}" class='delete-event'
                href="/members">Delete</a>
            </td>
          </tr>
        </table>
      </div>
    </section>

    {{!-- Vendor Info Card--}}
    <section>
      <div class="card-body">
        <div class = "container">
          <div class = "row">
        <h3 class="card-title col-3">Vendor Info</h3>
        <a type="button" class="btn btn-success col-1" id="circleButton" href="/vendorInfos/{{event.id}}">Add</a>
          </div>
        </div>
        <table class="table table-striped">
          {{!-- Head --}}
          <thead>
            <tr>
              <th>Vendor Name</th>
              <th>Service</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          {{!-- Row populate --}}
          {{#each vendor}}
          <tr>
            <td id="vendor-data{{dataValues.id}}"><textarea readonly>{{dataValues.vendorName}}</textarea></td>
            <td id="vendor-data{{dataValues.id}}"><textarea readonly>{{dataValues.service}}</textarea></td>
            <td id="vendor-data{{dataValues.id}}"><textarea readonly>{{dataValues.email}}</textarea></td>
            <td id="vendor-data{{dataValues.id}}"><textarea readonly>{{dataValues.phone}}</textarea></td>
            <td><a class="editVendor" id="{{dataValues.id}}" data-control="userBtn">Edit</a><a class="editVendorSave" id="{{dataValues.id}}"
                style="color: blueviolet;" data-control="userBtnSave">Save</a></td>
            <td><button style='cursor:pointer;color:red' data-id="{{dataValues.id}}" class='delete-vendor'
                onclick="deleteVendor({{dataValues.id}})">Delete</button></td>
            {{!-- test top --}}
            <a href="#" class="updown-arrow" onClick="callUserDetail()" data-control="userBtn"><i
                class="icon-arrow-big"></i></a>
            {{!-- test bottom --}}
          </tr>
          {{/each}}
        </table>
      </div>
    </section>

    {{!-- Scripts --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/summary.js"></script>
    <script type="text/javascript">
      // EDIT EVENT
      // When edit button toggle textarea readonly
      $('td').on('click', '.editEvent', function (event) {
        event.preventDefault();
        // Target all text areas and toggle readonly
        $("td.event-data").children("textarea").each(function () {
          var re = $(this).prop('readonly');
          $(this).prop('readonly', !re);
        });
      });

      // SAVE EVENT
      // Save button 
      $('td').on('click', '.editEventSave', function (event) {
        event.preventDefault();

        // This holds our event data
        var data = {};
        var counter = 0
        // Target all text areas and put data into array
        $("td.event-data").children("textarea").each(function () {
          // We create key value pairs for the data obj
          var key = "key" + counter;
          data[key] = $(this).val();
          counter++;
        });
        // Grab the id from the url
        var id = (window.location.href).slice(-1)
        $.ajax("/api/eventInfos/" + id, {
          type: "PUT",
          data: data
        }).then(function () {
          console.log("event edited");
        })
      });

      // DELETE VENDOR
      function deleteVendor(id) {
<<<<<<< HEAD
    console.log("this was deleted");
    console.log(id);
    
    $.ajax({
      method: "DELETE",
      url: "/api/vendorInfos/" + id 
=======
        console.log("this was deleted");
        console.log(id);
        $.ajax({
          method: "DELETE",
          url: "/api/vendorInfos/" + id
        }
        )
        location.reload();
>>>>>>> 486b8d0bbcc9f3c5f62edd463150327fe7a27f31
      }

      // EDIT VENDOR
      // When edit button toggle textarea readonly
      $('td').on('click', '.editVendor', function (event) {
        event.preventDefault();

        // Id of the row
        var idNum = $(this).attr("id");

        // Target all text areas and toggle readonly
        $(`*[id*=vendor-data${idNum}]`).children("textarea").each(function () {
          var re = $(this).prop('readonly');
          $(this).prop('readonly', !re);
        });
      });

      // SAVE Vendor
      // Save button 
      $('td').on('click', '.editVendorSave', function (event) {
        event.preventDefault();

        // Id of the row
        var idNum = $(this).attr("id");
        // This holds our event data
        var data = {};
        var counter = 0
        // Target all text areas and put data into array
        $(`*[id*=vendor-data${idNum}]`).children("textarea").each(function () {
          // We create key value pairs for the data obj
          var key = "key" + counter;
          data[key] = $(this).val();
          counter++;
        });
        // // Grab the id from the url
        // var id = (window.location.href).slice(-1)
        $.ajax("/api/vendorInfos/" + idNum, {
          type: "PUT",
          data: data
        }).then(function () {
          console.log("vendor edited");
        })
      });
    </script>
</body>
</main>